@tailwind base;
@tailwind components;
@tailwind utilities;

/* Slide In and Out Animations */
.slide-image {
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
  opacity: 0;
  transform: translateX(-100%);
}

.slide-in {
  transform: translateX(0);
  opacity: 1;
}

.slide-out {
  transform: translateX(-100%);
  opacity: 0;
}

/* Customize the prev and next button from cousrel package for sliding */
.swiper-button-next::after,
.swiper-button-prev::after {
  width: 2.5rem !important;
  height: 1.8rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-size: 0.7rem !important;
  font-weight: bolder;
  border-radius: 100%;
  color: black;
  line-height: 0 !important;
}
.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  color: white;
  background-color: green;
  transition-property: linear;
  transition-duration: 300;
}
.swiper-button-next,
.swiper-button-prev {
  top: 40% !important;
}

/* Anime */
.skeleton,
.overlay-skeleton {
  /* animation: skeleton-loading 1s linear infinite alternate; */
  background-color: hsl(0, 0%, 83%);
}

/* @keyframes skeleton-loading {
  0% {
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.overlay-skeleton {
  animation: overlay-skeleton-loading 1s linear infinite alternate;
}

@keyframes overlay-skeleton-loading {
  0% {
    background-color: hsl(206, 4%, 67%);
  }
  100% {
    background-color: hsl(206, 4%, 69%);
  }
} */
